final/
tmp/
front_matter/critical_report.pdf
front_matter/table_works.tex
main.ly
main.pdf
manuscript
scores/full_score.ly
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.macros
main*.midi
*.out
*.ps
*.ref
*.toc
