name: Release engraved scores

on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

jobs:
  engrave_scores_1:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Fix git safe.directory in container
        run: mkdir -p /home/runner/work/_temp/_github_home && printf "[safe]\n\tdirectory = /github/workspace" > /home/runner/work/_temp/_github_home/.gitconfig

      - name: Engrave
        uses: docker://ghcr.io/edition-esser-skala/ees-tools:v2026.01.0
        with:
          args: make -B preface works

      - name: Publish via rsync
        uses: burnett01/rsync-deployments@v8
        with:
          switches: -avzrm
          path: final/
          remote_path: html/edition/assets/haydn-m-proprium-missae/
          remote_host: ${{ secrets.DEPLOY_HOST }}
          remote_user: ${{ secrets.DEPLOY_USER }}
          remote_key: ${{ secrets.DEPLOY_KEY }}
  engrave_scores_2:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Fix git safe.directory in container
        run: mkdir -p /home/runner/work/_temp/_github_home && printf "[safe]\n\tdirectory = /github/workspace" > /home/runner/work/_temp/_github_home/.gitconfig

      - name: Engrave
        uses: docker://ghcr.io/edition-esser-skala/ees-tools:v2026.01.0
        with:
          args: make -B works_1

      - name: Publish via rsync
        uses: burnett01/rsync-deployments@v8
        with:
          switches: -avzrm
          path: final/
          remote_path: html/edition/assets/haydn-m-proprium-missae/
          remote_host: ${{ secrets.DEPLOY_HOST }}
          remote_user: ${{ secrets.DEPLOY_USER }}
          remote_key: ${{ secrets.DEPLOY_KEY }}
  engrave_scores_3:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Fix git safe.directory in container
        run: mkdir -p /home/runner/work/_temp/_github_home && printf "[safe]\n\tdirectory = /github/workspace" > /home/runner/work/_temp/_github_home/.gitconfig

      - name: Engrave
        uses: docker://ghcr.io/edition-esser-skala/ees-tools:v2026.01.0
        with:
          args: make -B works_2

      - name: Publish via rsync
        uses: burnett01/rsync-deployments@v8
        with:
          switches: -avzrm
          path: final/
          remote_path: html/edition/assets/haydn-m-proprium-missae/
          remote_host: ${{ secrets.DEPLOY_HOST }}
          remote_user: ${{ secrets.DEPLOY_USER }}
          remote_key: ${{ secrets.DEPLOY_KEY }}
  engrave_scores_4:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Fix git safe.directory in container
        run: mkdir -p /home/runner/work/_temp/_github_home && printf "[safe]\n\tdirectory = /github/workspace" > /home/runner/work/_temp/_github_home/.gitconfig

      - name: Engrave
        uses: docker://ghcr.io/edition-esser-skala/ees-tools:v2026.01.0
        with:
          args: make -B works_3

      - name: Publish via rsync
        uses: burnett01/rsync-deployments@v8
        with:
          switches: -avzrm
          path: final/
          remote_path: html/edition/assets/haydn-m-proprium-missae/
          remote_host: ${{ secrets.DEPLOY_HOST }}
          remote_user: ${{ secrets.DEPLOY_USER }}
          remote_key: ${{ secrets.DEPLOY_KEY }}
  engrave_scores_5:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Fix git safe.directory in container
        run: mkdir -p /home/runner/work/_temp/_github_home && printf "[safe]\n\tdirectory = /github/workspace" > /home/runner/work/_temp/_github_home/.gitconfig

      - name: Engrave
        uses: docker://ghcr.io/edition-esser-skala/ees-tools:v2026.01.0
        with:
          args: make -B works_4

      - name: Publish via rsync
        uses: burnett01/rsync-deployments@v8
        with:
          switches: -avzrm
          path: final/
          remote_path: html/edition/assets/haydn-m-proprium-missae/
          remote_host: ${{ secrets.DEPLOY_HOST }}
          remote_user: ${{ secrets.DEPLOY_USER }}
          remote_key: ${{ secrets.DEPLOY_KEY }}
